* {
  margin: 0;
  padding: 0;
  font-family: 'Microsoft YaHei';
  box-sizing: border-box;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
}

li {
  list-style: none;
}
i {
  font-style: normal;
}

/* 截图背景 */
.cropper-box {
  background-color: #605e5e;
}

.el-upload {
  width: 100%;
}

/* 处理下textarea右下三角 */
textarea {
  resize: none !important;
}

/* 地图搜索栏 */
.search-tips ul {
  max-height: 200px;
  overflow-x: auto;
}

#Details .van-cell-group textarea {
    height: 2rem !important;
    padding-top: 0.133333rem;
}

/* 左滑动 */
.van-swipe-cell__right  {
  display: flex;
  align-items: center;
}
.van-swipe-cell__right button {
  height: 100%;
}

/* .input textarea {
  height: 30px !important;
} */