.header {
  height: 1.173333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ede8e8;
  width: 100%;
  padding: 0 16px;
  background-color: rgba(244, 244, 244, 1);
  position: relative;
  z-index: 2;
  font-size: 0.693rem;
}
